*{

margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial, sans-serif;

}



body{

background:white;
color:#333;

}



header{

background:#0077cc;
padding:20px;

}



nav{

display:flex;
justify-content:space-between;
align-items:center;

}



nav h1{

color:white;

}



ul{

display:flex;
list-style:none;

}



li{

margin:10px;

}



a{

color:white;
text-decoration:none;
font-weight:bold;

}



.hero{

height:500px;


background:

linear-gradient(
rgba(0,119,204,0.7),
rgba(0,119,204,0.7)
),

url("https://images.unsplash.com/photo-1586773860418-d37222d8fce3");


background-size:cover;

background-position:center;


display:flex;

align-items:center;

justify-content:center;


text-align:center;

color:white;

}



.hero h2{

font-size:50px;

}



.hero p{

font-size:20px;

margin:20px;

}



button{

background:#0077cc;

color:white;

border:none;

padding:15px 30px;

border-radius:5px;

cursor:pointer;

font-size:16px;

}



button:hover{

background:#005999;

}



section{

padding:50px;

text-align:center;

}



section p{

line-height:1.8;

font-size:18px;

}



footer{

background:#0077cc;

color:white;

padding:20px;

text-align:center;

}
.cards{

display:flex;

justify-content:center;

gap:30px;

flex-wrap:wrap;

}



.card{

width:300px;

padding:20px;

box-shadow:0 5px 15px #ccc;

border-radius:10px;

}



.card-image{

width:100%;

height:200px;

object-fit:cover;

border-radius:10px;

margin-bottom:15px;

}



.card:hover{

transform:scale(1.05);

transition:0.3s;

}



input, textarea, select{

width:350px;

padding:15px;

margin:10px;

border:2px solid #0077cc;

border-radius:5px;

}



textarea{

height:120px;

}
.gallery-container{

display:flex;

flex-wrap:wrap;

justify-content:center;

}



.gallery{

width:350px;

height:250px;

object-fit:cover;

margin:15px;

border-radius:10px;

}



.gallery:hover{

transform:scale(1.05);

transition:0.3s;

}



h2{

color:#0077cc;

margin-bottom:20px;

}